@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

html {
  font-size: 15px;
  font-family: "Outfit", sans-serif;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}

a{
    color: var(--Slate-500);
    text-decoration: none;
}

a:hover{
    font-size: 1rem;
    padding-inline-start: 1rem;
    color: var(--Slate-900);
}

body {
  background-color: var(--Slate-300);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

.contentWrapper {
  display: grid;
  place-items: center;
  grid-template-rows: 95% 5%;
  min-height: min(100svh - 10px, 100svh);
  background-color: var(--Slate-300);
}

.card {
  display: grid;
  grid-template-rows: 3fr 2fr;
  max-width: 90%;
  height: fit-content;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--White);
}

.card img {
  border-radius: 10px;
  overflow: hidden;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 20px;
  color: var(--Slate-900);
}

.card div > p {
  color: var(--Slate-500);
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  gap: 10px;
  padding: 10px;
}

@media screen and (min-width: 350px) {
    .card{
        max-width: 300px;
    }
}
